[submodule "e3cf2d93c932a082c5eb"]
	path = e3cf2d93c932a082c5eb
	url = https://gist.github.com/blha303/e3cf2d93c932a082c5eb
[submodule "singlemessagebot"]
	path = singlemessagebot
	url = https://gist.github.com/blha303/e3cf2d93c932a082c5eb
